
.home-sect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.slide-img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 70vh;
}

.home-info {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30vw;
}

.tagline {
    font-weight: 300;
    font-size: 35px;
    color: #cf1010;
    margin: 0;
}

.tagline > span {
    font-weight: bold;
    color: #288e3e;
}

.home-buttons {
    display: flex;
    justify-content: space-between;
}

.home-buttons > button {
    font-size: 14px;
    border: 1px solid #288e3e;
    padding: 15px 32px;
    border-radius: 15px;
    transition: all ease-in-out 0.2s;
}

.home-buttons > button:hover {
    cursor: pointer;
}

.menu-button {
    background-color: #288e3e;
    color: #ffffff;
    box-shadow: 1px 1px 3px #288e3e;
}

.menu-button:hover {
    /* color: #288e3e;
    background-color: #ffffff; */
    box-shadow: 1px 1px 15px #288e3e;
}

.reserve-button {
    background-color: #ffffff;
    border-color: #ffffff !important;
    color: #cf1010;
}

.reserve-button:hover {
    border-color: #cf1010 !important;
}

.services {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.service {
    margin-right: 5%;
    display: flex;
    padding-right: 5%;
    flex-direction: column;
    border-right: 3px solid black;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.services .service:last-child {
    border-right: 0px;
}

.service > p {
    margin: 6px 0 0 0;
}

.service > img {
    height: 30px;
}

.slideshow {
  position: relative;
  border-radius: 12px;
}

.slide-img {
  display: block;
  object-fit: cover;
}

/* Buttons */
.slideshow-button {
  position: absolute;
  bottom: 0;
  width: 25%;
  border: none;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  z-index: 2;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideshow-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.prev-button {
  right: 25%;
  border-top-left-radius: 5px;
}

.next-button {
  right: 0;
  border-top-right-radius: 5px;
}

.slideshow-button img {
    width: 50px;
}

@media (max-width: 1024px) {
    .home-buttons > button {
        font-size: 12px;
        padding: 8px 24px;
        border-radius: 8px;
    }
    .service > img {
        width: 25px;
    }
    .service > p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .home-sect {
        padding: 20px;
        margin: 0 40px;
    }
    .home-info {
        width: 80vw;
        height: fit-content;
        margin: 50px 0;
        gap: 50px;
    }
    .home-buttons {
        justify-content: flex-start;
    }
    .home-buttons > button {
        margin-right: 5px;
    }
    .tagline {
        font-size: 25px;
        max-width: 60%;
    }
    .slide-img {
        height: 60vh;
    }
}

@media (max-width: 650px) {
    .home-sect {
        flex-direction: column;
        align-items: flex-start;
        height: max-content;
    }
    .slide-img {
        height: 80vh;
        width: 100%;
    }
    .tagline {
        max-width: 100%;
        font-size: 30px;
    }
    .home-buttons > button {
        margin-right: 5px;
        padding: 8px 16px;
    }
    .service > img {
        width: 20px;
    }
    
}

@media (max-width: 450px) {
    .slide-img {
        height: 60vh;
    }
}

